@import "tailwindcss";

/* Chrome, Safari, Opera, Edge ke liye scrollbar hide */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

/* Firefox, IE aur Edge ke liye scrollbar hide */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* index.css / App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}